@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,600,800&display=swap");

@import url("reset.css");

body {
  font-family: "Epilogue", sans-serif;
  background-color: #28293e;
  color: #fff;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
}
[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 15px;
}
.header {
  background-color: #d96c12e6;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 15px;
  margin-bottom: 30px;
}

.header__title,
.footer__title {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}


.hero-block {
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 40px;
}

.img-section {
  position: relative;
  max-width: 570px;
  margin: 0 auto;
  min-height: 602px;
}
/* .img-section__item {
} */
.img-section__item--circle {
  position: absolute;
  top: 16.61%;
  left: 17.54%;
  background-color: #32334c;
  width: 64.91%;
  height: 64.91%;
  border-radius: 50%;
  /* z-index: 0; */
}
.img-section__item--laptop {
  position: absolute;
  top: 0;
  left: 0;
  width: 43.16%;
  height: 50.66%;
  background-color: #b550f8;
  border-radius: 50% 50% 8px 8px;
}
.img-section__item--laptop img {
  position: absolute;
  top: 9.056%;
  left: 8.5%;
  width: 103.65%;
  height: 86.88%;
}
.img-section__item--stars {
  position: absolute;
  top: 6.64%;
  left: 53.33%;
  width: 19.64%;
  height: 18.6%;
}
.img-section__item--cloud {
  position: absolute;
  top: 13.29%;
  right: 0;
  width: 19.65%;
  height: 13.79%;
}

.img-section__item--person {
  position: absolute;
  top: 31.4%;
  right: 0;
  background-color: #f7cc47;
  border-radius: 50% 50% 8px 8px;
  width: 43.16%;
  height: 50.66%;
}
.img-section__item--person img {
  position: absolute;
  top: 14.63%;
}
.img-section__item--grafic {
  position: absolute;
  top: 71.6%;
  left: 9.82%;
  width: 37.54%;
  height: 18.6%;
}
.img-section__item--double-arrow {
  position: absolute;
  top: 56.6%;
  left: 0;
  width: 24.9%;
  height: 12.13%;
}
.img-section__item--arrow {
  position: absolute;
  top: 84.55%;
  left: 55.08%;
  width: 8.77%;
  height: 13.62%;
}

/* card block */

.card {
  position: relative;
  top: 0;
  width: 448px;
  height: 576px;
  margin-bottom: 40px;
}

.image-card {
}
.image-card__item {
  position: absolute;
  z-index: -1;
}
/* .card__button {
} */
.button-card {
  position: absolute;
  top: 416px;
  left: 48px;
  max-width: 84px;
  background-color: #fff;
  padding-inline: 15px;
  border-radius: 19px;
}
.button-card__text {
  color: #391400;
  line-height: 2; /* 32/16 */
}
.card__subtitle {
  position: absolute;
  top: 477px;
  left: 48px;
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2; /* 48/40 */
  text-transform: uppercase;
}
.footer {
  padding: 15px;
  border: 3px dotted #d96c12e6;
}

